<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Crawler</title>
<link rel="stylesheet" type="text/css" href="/layouts/web/observer/observer.css">

</head>

<body>

<div style="float:left">
	<form action="#" method="post" id="form">
        <fieldset>
          <legend><b>Channel</b></legend>
          <input type="text" id="price" name="channel" required value="<?php echo $this->channel;?>">

        </fieldset>
        <button class="button" id="add" type="submit">Search</button>
    </form>
</div>
<div style="float:left;margin-left:20px">
<?php if(is_array($this->string)):?>
<?php foreach($this->string as $item):

	echo $item['title']."<br>";

endforeach;endif;
?>
</div>
</body>

</html>