<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading" style="height:40px">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>
                <form action="" method="GET">
		                 <div class="col-md-12" style="margin-top:-15px">
                             <div class="col-md-3">
                                 <select name="account"  class="col-md-12" data-plugin-selectTwo >
                                     <option value="0" <?php echo $this->user_id == 0 ? ' selected="selected"' : ''?>>All</option>
                                     <option value="1" <?php echo $this->user_id == 1 ? ' selected="selected"' : ''?>>NamTH</option>
                                     <option value="2" <?php echo $this->user_id == 2 ? ' selected="selected"' : ''?>>SonCH</option>
                                     <option value="3" <?php echo $this->user_id == 3 ? ' selected="selected"' : ''?>>TamNT</option>
                                     <option value="4" <?php echo $this->user_id == 4 ? ' selected="selected"' : ''?>>TuVV</option>
                                </select>
                             </div>
                             <div class="col-md-3">
                                    <?php $list_payment = Admin_Model_Form::getListPayment();?>
                                  <select name="payment" class="form-control mb-md" data-plugin-selectTwo>
                                    <?php foreach ($list_payment as $id => $value) { ?><option <?php echo (isset($this->payment_id) && $id == $this->payment_id) ? 'selected="selected"' : ''; ?> value="<?php echo $id?>"><?php echo $value?></option><?php } ?>
                                </select>
                             </div>
		         			 <div class="col-md-2"><input  type="submit"  type="text"  value="Search" /></div>
                             <div class="col-md-4">
                                <span class="color1">Woking</span>
                                <span class="color2">Coming</span>
                                <span class="color3">Off</span>
                                <span class="color4">Bad</span>
                                <span class="color5">Die</span>

                             </div>
		         		</div>
                </form>
            </header>
            <div class="panel-body">
                 <div class="table-responsive">
                    <?php if (is_array($this->chanel) && count($this->chanel) > 0) { ?>
                    <table class="table mb-none">
                        <tbody>
                                <tr>
                                    <td>STT </td>
                                    <td>Chanel Name</td>
                                    <td>Email</td>
                                    <td>Link</td>
                                    <td>Payment</td>
                                    <td>Buy View</td>
                                    <td>VPS/IP</td>
                                    <td>NOTE</td>
                                    <td>Action</td>
                                </tr>
                             <?php $count = 1 ;foreach($this->chanel as $key => $item):?>
                                <tr class="color<?php echo $item->number?>" data-type="chanel" data-id="<?php echo $item->id?>">
                                    <td><?php echo $count++?></td>
                                    <td><a href="/admin/chanel/detail/id/<?php echo $item->id?>/"><?php echo $item->chanel_name?></a></td>
                                    <td><a href="/admin/chanel/detail/id/<?php echo $item->id?>/"><?php echo $item->email?></td>
                                    <td><a href="<?php echo $item->chanel_link?>"><?php echo $item->chanel_id?></td>
                                    <td>
                                        <?php echo ($item->is_adsense == 1)?'<span class="green">Adsense</span>':'<span class="red">NET</span>';?>/<?php echo $item->payment_name;?>
                                    </td>
                                    <td><?php echo ($item->is_view == 1)?'<span class="green">YES</span>':'<span class="red">NO</span>'?></td>
                                    <td><?php echo ($item->is_vps == 1)?'<span class="green">'.$item->ip.'</span>':'<span class="red">NO</span>'?></td>
                                    <td><?php echo $item->note?></td>
                                    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>
                    <?php } else {
                        ?><div class="alert alert-warning" align="center">Empty Data</div><?php
                    } ?>
                </div>

            </div>
        </section>
        <?php echo $this->render('_pagination.phtml'); ?>
    </div>
</div>
<style type="text/css">
    .btn_active{
        background-color: green;
        color: #fff;
    }
    .fakeTextarea{
        width:300px;
        height: 80px;
    }

    .green{
        border-radius: 2px;
        background-color: green;
        padding:3px;
        color:#fff;
    }
    .red{
        border-radius: 2px;
        background-color: red;
        padding:3px;
        color:#fff;
    }

    .color5{
        background-color: rgb(239, 166, 166);
    }
    .color1{
        background-color: rgb(198, 239, 166);
    }
    .color2{
        background-color: rgb(166, 197, 239);
    }
    .color3{
        background-color: rgb(198, 166, 239);
    }
    .color4{
        background-color: rgb(250, 239, 20);
    }

</style>

