<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>
                <span class="panel-title"><?php echo $this->youtube->title?></span>
            </header>
            <div class="panel-body">

                 <div class="table-responsive">
                    <?php if (is_array($this->list_user) && count($this->list_user) > 0) { ?>
                    <table class="table mb-none">
                        <tbody>
                                <tr>
                                    <td>STT </td>
                                    <td>Computer</td>
                                    <td>Email</a></td>
                                    <td>Start</td>
                                </tr>
                             <?php $count = 1 ;foreach($this->list_user as $key => $item):?>
                                <tr data-type="user" data-userid="<?php echo $item->user_id?>" data-youtube="<?php echo $this->youtube->youtube_id;?>" data-start="<?php echo $item->is_start?>">
                                    <td><?php echo $count++?></td>
                                    <td><a href="javascript:void(0)"><?php echo $item->computer?></a></td>
                                    <td><a href="javascript:void(0)"><?php echo $item->email?></a></td>
                                    <td><button class="btn_start <?php echo ($item->is_start == 1 )?'btn_active':'' ?>">Start</button></td>
                                </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>
                    <?php } else {
                        ?><div class="alert alert-warning" align="center">Empty Data</div><?php
                    } ?>
                </div>

            </div>
        </section>
        <?php echo $this->render('_pagination.phtml'); ?>
    </div>
</div>
<style type="text/css">
    .btn_active{
        background-color: green;
        color: #fff;
    }
</style>

