<div class="form-group">
    <label class="col-md-3 control-label" for="<?php echo $key?>"><?php echo $field['label']?></label>
    <div class="col-md-6">
        <textarea name="<?php echo $key?>" rows="5" class="form-control" id="<?php echo $key?>"><?php echo isset($this->data->$key) ? $this->data->$key : ''; ?></textarea>
    </div>
</div>