<html>
	<head>
		<meta charset="UTF-8"/>
	</head>
<body>
	<div id="main">
		<div id="img">
	<?php
		$list = $this->list;
		if(count($list) > 0){
			$imagedata = file_get_contents($list->img);
	             // alternatively specify an URL, if PHP settings allow
			$base64 = base64_encode($imagedata);
			?>
				<img id="recaptcha_challenge_image" data-id="<?php echo $list->capId?>" alt="Hình xác thực reCAPTCHA" src="data:image/jpeg;base64,<?php echo $base64;?>" height="100" width="500"><br>
			<?php
		}else{
				echo "Please waiting... no capcha at this time";
		}
	?>
	</div>
	 <p><span style="font-size:25px;color:green;font-weight: bold">Nhập vào captcha:</span><br>
	<input class="one" type="text"></input>
	<button class="two">Submit</button></p>
	</div>
</body>
</html>
<style>
#main{
	margin:20px;
	min-width: 100px;
}
.two:after {
content: "";
position: absolute;
width: 0px;
height: 0px;
border-top: 0.8rem solid transparent;
border-right: 0.8rem solid #CE2833;
border-bottom: 0.8rem solid transparent;
top: 0.3rem;
left: -0.6rem;
}
.two {
position: relative;
background: none repeat scroll 0% 0% #CE2833;
color: #FFF;
border: 1px solid #CE2833;
padding: 0.5rem 1rem;
margin: 0rem 0rem 0rem -0.5rem;
}
.two {
cursor: pointer;
}

.two:hover:after, .two:focus:after {
width: 0px;
height: 0px;
border-top: 0.8rem solid transparent;
border-right: 0.8rem solid #710109;
border-bottom: 0.8rem solid transparent;
}
.two:hover{
background: none repeat scroll 0% 0% #710109;
border: 1px solid #710109;
}

.one {
background: linear-gradient(to bottom, #FFF 0%, #EFEFEF 100%) repeat scroll 0% 0% transparent;
border: 1px solid #CCC;
padding: 0.5rem 1rem;
width: auto;
color: #24262A;
}
</style>