<?php 
// SEO
$title = !empty($this->product->meta_title) ? $this->product->meta_title : $this->product->product_title;
$this->headTitle($title);
$this->headMeta()->appendName('description', !empty($this->product->meta_description) ? $this->product->meta_description : $this->product->product_description);
$this->headMeta()->appendName('keywords', !empty($this->product->meta_keyword) ? $this->product->meta_keyword : 'Căn hộ, bất động sản, đất nền, vay vốn bất động sản, căn hộ giá rẻ, văn phòng, nhà ở, đất nền bình dương, cho thuê nhà giá rẻ');
$this->headMeta()->appendName('site_name', "Căn hộ, nhà đất, tìm kiếm nhà ở nhanh, hiệu quả");
?>
<div class="container" style="width:80%;margin-bottom:20px;">
	<div class="row">
		<div style="width:100%;height:40px;"></div>

        <div id="slider1_container" class="slide" style="position: relative; top: 0px; left: 0px; width: 1000px;
            height: 526px; background: #191919; overflow: hidden;">

            <?php echo $this->render('product/part/main_slide.phtml'); ?>
            <?php echo $this->render('product/part/price.phtml'); ?>
            <?php echo $this->render('product/part/sppanel.phtml'); ?>
            <?php echo $this->render('product/part/arrow_slide.phtml'); ?>

        </div>
        <!-- Jssor Slider End -->
	</div>
    <div class="page row" style="margin-top:20px">
         <div class="page_left col-md-9" style="border: 1px solid rgb(236, 234, 234);">
            <?php echo $this->render('product/part/content.phtml'); ?>
        </div>
        <div class="page_right col-md-3" style="padding:0 0 0 10px">
            <?php echo $this->render('news/part/page_right.phtml');?>
        </div>
        <div class="ClearBoth"></div>
    </div>
    <div class="row" style="margin:20px 0 100px 0">
        <h2>Dự án khác</h2>
        <div class="col-md-12">
        <?php foreach ($this->list_relate as $key => $list):?>
            <div class="product-item" style="float:left;margin-left:5px">
                <a href="">
                    <img src="<?php echo $list->image?>" width="200px" height="100px" />
                </a>
                <div class="product-item-name">
                    <a href="<?php echo Utility_Unicode::convertLink(0, $list->product_id, $list->product_slug)?>"><?php echo $list->product_name?></a>
                </div>
            </div>
        <?php endforeach;?>
        </div>
    </div>
</div>
