<div class="container" style="width:80%">
	<div class="row">
		<div style="width:100%;height:40px;"></div>

		<div style="color:gray;position:relative;width:100%;height:500px;background:url('http://www.phumyford.com.vn/Upload/images/oto/transit/Transit5.jpeg')">
			<div style="width:156px;height:230px;position:absolute;right:20px;top:10px;">
				<div class="gia_title" style="width:100%;height:142px;border-radius:5px;background-color:rgba(0, 0, 0, 0.6);">

                    <span style="font-size: 14px;color: white;font-weight: bold;">Giá khởi điểm (vnđ)</span>
                    <div class="gia">
                        899,000,000
                        <span style="color: #FFF; line-height: 25px;font-family: arial;font-size:14px">(VNĐ)</span>
                    </div>
                    <div style="font:11px Arial;line-height: 40px">Giá đã bao gồm VAT</div>

				</div>
				<div class="" style="width:100%;margin-top:5px">
					<div style="float:left;width:48px;margin-right:5px;border-radius:2px;background-color:rgba(0, 0, 0, 0.6);padding:10px">A</div>
					<div style="float:left;width:48px;margin-right:5px;border-radius:2px;background-color:rgba(0, 0, 0, 0.6);padding:10px">B</div>
					<div style="float:left;width:48px;border-radius:2px;background-color:rgba(0, 0, 0, 0.6);padding:10px">C</div>
					<div style="clear:both"></div>
				</div>
			</div>

		<div class="sppanel">
            <div class="menu_left" style="margin-top:-10px;height: 30px"></div>
                <div class="sp_name">Transit High Series</div>
            <div class="mausac">Màu sắc:</div>
            <div class="mau">
                Hồ Chí Minh
            </div>
            <div class="menu_right" style="margin-top:-10px;height: 30px;background: url('http://www.phumyford.com.vn/Content/images/rightdiv1.png')"></div>
            <div class="clear"></div>
            <div class="menu_left" style="margin-top:5px;"></div><div class="menu_title" style="margin-top:5px;width: 90px;"><a onclick="ctx()"><h4 style="color: white;line-height: 15px; text-align: center;">Chi tiết xe</h4></a></div><div class="menu_right" style="margin-top:5px;"></div>
            <div class="menu_left" style="margin-top:5px; margin-left:10px;"></div><div class="menu_title" style="margin-top:5px;width: 105px;"><a onclick="tskt()"><h4 style="color: white;line-height: 15px;text-align: center;">Thông số kỹ thuật</h4></a></div><div class="menu_right" style="margin-top:5px;"></div>
            <div class="menu_left" style="margin-top:5px; margin-left:10px;"></div><div class="menu_title" style="margin-top:5px;width: 100px;"><a href="http://www.phumyford.com.vn/Phukienxe/42/transit-high-series"><h4 style="color: white;line-height: 15px;text-align: center;">Chi tiết phụ kiện</h4></a></div><div class="menu_right" style="margin-top:5px;"></div>
        </div>

		<div class="menusp_container">
            <div class="menu_left"></div>
            <div class="menu_title">
                <img src="http://www.phumyford.com.vn/Content/images/timdl.png">
                <span><a href="/Chiphidangkyxe">Chi phí Đăng ký xe</a></span>
            </div>
            <div class="menu_right"></div>
            <div class="clear"></div>
            <div class="menu_left"></div>
            <div class="menu_title">
                <img src="http://www.phumyford.com.vn/Content/images/timdl.png">
                <span><a href="/dk/chiet-tinh-tra-gop">Chiết tính trả góp</a></span>
            </div>
            <div class="menu_right"></div>
            <div class="clear"></div>
            <div class="menu_left"></div>
            <div class="menu_title">
                <img src="http://www.phumyford.com.vn/Content/images/dktlx.png">
                <span><a title="Đăng ký lái xe thử" href="/dk/dang-ky-lai-thu-xe">Đăng ký lái xe thử</a></span>
            </div>
            <div class="menu_right"></div>

            <div class="clear"></div>
            <div class="menu_left"></div>
            <div class="menu_title">
                <img src="http://www.phumyford.com.vn/Content/images/dkcata.png">
                <span><a href="/dk/dang-ky-catalouge">Đăng ký Catalogue</a></span>
            </div>
            <div class="menu_right"></div>

                <div class="clear"></div>
                <div class="menu_left"></div>
                <div class="menu_title">
                    <img src="http://www.phumyford.com.vn/Content/images/taicata.png">
                    <span><a href="/Upload//files/catalogue/Transit.pdf" title="Tải Calalogue">Tải về catalogue</a></span>
                </div>
                <div class="menu_right"></div>
        </div>
        </div>

	</div>
</div>
<style>
.gia {
width: 140px;
margin: auto;
height: 85px;
padding-top: 8px;
color: white;
font-size: 26px;
display: block;
font-family: 'myriad_probold_condensed';
border-bottom: 1px solid #FFF;
}
.gia_title {
float: left;
margin-bottom: 3px;
background: url(../../Content/images/gia3.png);
height: 142px;
padding-left: 2px;
padding-right: 2px;
width: 150px;
text-align: center;
border-radius: 5px;
font-size: 14px;
}

</style>
