<?php

$this->head->prependCss('/layouts/admin/assets/vendor/bootstrap/css/bootstrap.css');
$this->head->prependJs('/layouts/web/js/jquery-linedtextarea.js');
$this->head->prependCss('/layouts/web/css/jquery-linedtextarea.css');
$this->head->prependJs('/layouts/web/js/core.js');
$this->head->prependJs('/layouts/web/js/bootstrap.js');
$this->head->prependJs('/layouts/web/js/jquery.js');


header('Content-Type: text/html; charset=utf-8');
header('X-UA-Compatible: IE=edge,chrome=1');
?><!DOCTYPE html>
<html>
<head>
<?php echo $this->headTitle('Up-Team AutoPlaylist')->setSeparator(' » ')?>
<meta name="viewport" content="width=device-width, minimum-scale=1.0" />
<?php echo $this->headMeta()?>

<link href="//static-org.vcdn.vn/123fstatic/favicon.ico" rel="icon" />
<?php echo $this->headLink()?>
<?php echo $this->headScript()?>



</head>
<body class="page-<?php echo $this->controllerName?> page-<?php echo $this->controllerName?>-<?php echo $this->actionName?>" data-controller="<?php echo $this->controllerName?>" data-action="<?php echo $this->actionName?>">
    <?php include '_header.php'; ?>
    <?php echo $this->layout()->content?>
    <?php include '_footer.php'; ?>
</body>
</html>
