<div class="pull-right search-box">
    <form action="/search/" method="GET" id="search-form">
        <div class="input-group btn-group">
            <input type="text" class="form-control" name="s" placeholder="Search..." value="<?php echo isset($this->search[0]) ? $this->search[0] : ''; ?>" onkeypress="if (event.keyCode == 13) this.form.submit();" />
            <div class="input-group-btn">
                <select class="form-control" id="search-select" data-plugin-multiselect data-plugin-options='{"checkboxName":"type"}'>
                    <option value="1" <?php echo (isset($this->search[1]) && $this->search[1] ==1 )?'selected = selected':''?>>Film</option>
                    <option value="2" <?php echo (isset($this->search[1]) && $this->search[1] ==2 )?'selected = selected':''?>>News</option>
                    <option value="3" <?php echo (isset($this->search[1]) && $this->search[1] ==3 )?'selected = selected':''?>>Artist</option>
                    <option value="4" <?php echo (isset($this->search[1]) && $this->search[1] ==4 )?'selected = selected':''?>>Trailer</option>
                    <option value="5" <?php echo (isset($this->search[1]) && $this->search[1] ==5 )?'selected = selected':''?>>Cinema</option>
                </select>
            </div>
        </div>
    </form>
</div>
