
* {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
}
a {
    color: #2ba6cb;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #dd6a0d;
    cursor: pointer;
}
p {
    line-height: 22px;
    margin: 0 0 1em 0;
}
p.description {
    color: #5f5f5f;
    font-weight: bold;
}
p.source {
    text-align: right;
    font-weight: bold;
}
p.imgcaption {
    text-align: center;
    font-style: italic;
}
li {
    margin-bottom: 5px;
    line-height: 22px;
}