<tr data-type="Bank" data-id="<?php echo $this->bank_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/bank/detail/id/<?php echo $this->bank_id?>/"><img src="https://www.123phim.vn/layouts/default/foundation/img/misc/banks/<?php echo $this->bank_code?>.gif" width="56" height="35" alt="<?php echo $this->bank_name?>" /></a></td>
    <td><a href="/bank/detail/id/<?php echo $this->bank_id?>/"><?php echo $this->bank_name?></a></td>
    <td><?php echo $this->date_update?></td>
    <td><?php echo My_View_Admin::isActive($this, 'status')?></td>
</tr>