<tr data-type="chanel" data-id="<?php echo $this->id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/admin/chanel/detail/id/<?php echo $this->id?>/"><?php echo $this->chanel_name?></a></td>
    <td><a href="/admin/chanel/detail/id/<?php echo $this->id?>/"><?php echo $this->email?></a></td>
    <td><a href="<?php echo $this->chanel_link?>"><?php echo $this->chanel_id?></a></td>
    <td><?php echo ($this->is_adsense == 1)?'Adsense':'NET'?></td>
    <td><?php echo ($this->is_view == 1)?'Yes':'No'?></td>
    <td><?php echo ($this->is_vps == 1)?$this->ip:'No'?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>
