
<tr data-type="reporttext" data-id="<?php echo $this->report_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/admin/commenttext/detail/id/<?php echo $this->report_id?>/"><?php echo $this->report_text?></a></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>