
<tr data-type="crawler" data-id="<?php echo $this->text_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a target="_blank" href="/admin/crawler/detail/id/<?php echo $this->text_id?>/"><?php echo $this->text_value?></a></td>
    <td><?php echo $this->email;?></td>
    <td><a target="_blank" href="/web/crawler?channel=<?php echo $this->channel?>"><?php echo $this->channel_name?></a></td>
    <td><?php echo "May ".$this->computer_id;?></td>
    <td><?php echo $this->order;?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>