<tr data-type="event" data-id="<?php echo $this->event_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/admin/event/detail/id/<?php echo $this->event_id?>/"><?php echo $this->event_title?></a></td>
    <td><a href="/admin/event/detail/id/<?php echo $this->event_id?>/"><?php echo $this->date_show?></a></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>