<tr data-type="Gallery" data-id="<?php echo $this->gallery_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/gallery/detail/id/<?php echo $this->gallery_id?>/"><?php echo $this->gallery_name; ?></a></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
</tr>
