<tr data-type="payment" data-id="<?php echo $this->id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/admin/payment/detail/id/<?php echo $this->id?>/"><?php echo $this->payment_name?></a></td>
    <td><a href="/admin/payment/detail/id/<?php echo $this->id?>/"><?php echo $this->email?></a></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>
