
<tr data-type="playlist_care" data-id="<?php echo $this->v_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a target="_blank" href="/admin/plscare/detail/id/<?php echo $this->v_id?>/"><?php echo $this->video_name?></a></td>
    <td><a target="_blank" href="https://www.youtube.com/watch?v=<?php echo $this->video_id?>"><?php echo $this->video_id?></a></td>
    <td><?php echo $this->status_id;?></td>
    <td><?php echo $this->date_update;?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>