
<tr data-type="playlist_show" data-id="<?php echo $this->show_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a target="_blank" href="/admin/plsshow/detail/id/<?php echo $this->show_id?>/"><?php echo $this->show_name?></a></td>
    <td><?php echo $this->list_email;?></td>
    <td><?php echo $this->date_update;?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>