<tr data-type="Product" data-id="<?php echo $this->product_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/admin/product/detail/id/<?php echo $this->product_id?>/"><img src="<?php echo $this->size1?>" width="50" height="50" /></a></td>
    <td><a href="/admin/product/detail/id/<?php echo $this->product_id?>/"><?php echo $this->product_name?></a><br/><?php echo $this->type?></td>
     <td><span style="background-color:green;padding:2px 5px;border-radius:2px;color:#fff"><?php echo $this->number?></span></td>
    <td><a href="/admin/product/gallery/id/<?php echo $this->product_id?>/" target="_blank">Add <i class="fa fa-photo"></i></a></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
</tr>