
<tr  data-pid="<?php echo $this->promotion_id?>" data-cid="<?php echo $this->cinema_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/cinemapromo/detail-map/pid/<?php echo $this->promotion_id?>/cid/<?php echo $this->cinema_id ?>"><?php echo $this->cinema_name?></a></td>
     <td class="actions delete" style="vertical-align:top"><a href="#" ><i class="fa fa-trash-o"></i></a></td>
</tr>
