<h2>Top 100 các playlist view</h2>

 <table class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên Playlist</th>
        <th>Từ khóa</th>
        <th>Playlist Link</th>
        <th>Số View</th>
        <th>Tên kênh</th>
        <th>Ngày cập nhật</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach($this->data as $key => $item):?>
        <tr>
           <td><?php echo $key +1;?></td>
           <td><?php echo $item->playlist_title?></td>
           <td><?php echo $item->text_value?></td>
           <td>
            <?php $clipboard = 'https://www.youtube.com/playlist?list='.$item->playlist_id;?>
            <button class="btn" onclick="copyToClipboard('<?php echo $clipboard; ?>')">Copy Link</button>
          </td>
           <td><?php echo $item->playlist_view?></td>
           <td><?php echo $item->channel_name?></td>
           <td><?php echo $item->date_update;?></td>
        </tr>
      <?php endforeach;?>
    </tbody>
</table>
<script type="text/javascript">
  function copyToClipboard(string) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val(string).select();
      document.execCommand("copy");
      $temp.remove();
  }
</script>
