Tên Kênh: <?php echo $this->parent_info['channel_name'];?><br>
Tổng số Videos Trong Playlist: <?php echo count($this->list_item);?>
<ul>
<?php foreach ($this->list_item as $key => $item):?>
	<li><?php echo $key+1?>.<a href="<?php echo $item['id']?>"><?php echo $item['title']?></a></li>
<?php endforeach;?>
</ul>