
<div class="col-xs-6 col-md-6">
<b>Tên Kênh:</b> <?php echo $this->parent_info['channel_name'];?><br>
<b>Tổng số Playlist:</b> <?php echo $this->parent_info['total'];?>

  <table class="table">
          <thead>
            <tr>
              <th>STT</th>
              <th>Title</th>
              <th>Số Video</th>
              <th>Link</th>
              <th>Modify</th>
            </tr>
          </thead>
          <tbody>
            <?php foreach ($this->list_playlist as $key => $playlist):?>
              <tr>
                <td><?php echo $key+1?></td>
                <td><a href="/playlist/getitems?google_id=<?php echo $this->parent_info['google_id']?>&pll_id=<?php echo $playlist['id']?>"><?php echo $playlist['title']?> </a></td>
                <td>[<span style="background: green;color:white;padding: 2px;"><?php echo $playlist['item_count']?>  Video</span>]</td>
                <td>
                  
                  <?php $clipboard = 'https://www.youtube.com/playlist?list='.$playlist['id'];?>
            <button class="btn" onclick="copyToClipboard('<?php echo $clipboard; ?>')">Copy</button>
                </td>

                <td><button name=""  data-google="<?php echo $this->parent_info['google_id'];?>" data-id=<?php echo $playlist['id']?> style="background: red;color:white;" class="playlist_del">X</button></td>
              </tr>
            <?php endforeach;?>
          </tbody>
  </table>


</div>
<div class="col-xs-6 col-md-6" style="max-width:750px;padding: 5px;background: #f1ecec;box-shadow: 0px -2px 8px 0px #333333;">
	<h1 style="background: #4D5061;border-bottom: 4px solid #60B078;color: #FFF;margin-right:5px;margin-left: 5px;padding: 2px;">Thêm mới Playlist</h1>
	<h2>ID video của bạn, mỗi id mỗi hàng</h2>
  <button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#vidModel" style="">Lấy ID tự động</button>
      <!-- Modal -->
    <div id="vidModel" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <form id="autoid">
          <div class="modal-body">
            <label for="sel1">Từ khóa:</label>
            <input type="textbox" name="keyword" value="">
            
          </div>
          <div class="modal-footer">
            <span id="message"></span>
            <button type="Submit" class="btn" >Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div></form>
        </div>
    
      </div>
    </div>



	<textarea class="lined" id="list_id_playlist" rows="10" cols="60"></textarea>
	<h2>Từ khóa cho playlist (cách nhau theo hàng):</h2>
  <button type="button" class="btn btn-info btn-lg " data-toggle="modal" data-target="#playlistModel" style="">Lấy Title tự động</button>
      <!-- Modal -->
    <div id="playlistModel" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <form id="autoplaylist">
          <div class="modal-body">
            <label for="sel1">Từ khóa:</label>
            <input type="textbox" name="keyword" value="">
            
          </div>
          <div class="modal-footer">
            <span id="message"></span>
            <button type="Submit" class="btn" >Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div></form>
        </div>
    
      </div>
    </div>
	<textarea class="lined " id="list_title_playlist" rows="15" cols="100"></textarea>
	<input type="hidden" value="<?php echo $this->parent_info['google_id']?>" id="google_id">
	<button id="add_playlist" class=" btn btn-success btn-lg">Thêm mới</button>
</div>
<style type="text/css">
	


</style>

<script>
$(function() {

  // Target all classed with ".lined"
  $(".lined").linedtextarea(
   
  );

  // Target a single one
  $("#mytextarea").linedtextarea();


});

$("#add_playlist").click(function(e){
        var vids_id = $("#list_id_playlist").val();
        var pll_title = $("#list_title_playlist").val();
        var google_id = $("#google_id").val();
        e.preventDefault();
        $(this).html("Đang xử lý ....");
        $.post('/web/ajax/addplaylist/', {
            vids_id:vids_id,
            pll_title:pll_title,
            google_id:google_id
        }, function(result) {
        	if(result){
        		alert("Thêm thành công");
                 location.reload();
        	}else{
        		alert("Có Lỗi Xảy Ra");
                 $(this).text("Thêm mới");
        	}
           
        }).fail(function() {
            alert('Add fail. Please try again.');
            $(this).text("Thêm mới");
        });

    });

  $( "#autoid" ).submit(function( event ) {
    var params = $(this).serializeArray();
    $.ajax({
    type: "POST",
    url: "/web/ajax/crawlervideoid/",
    data: $(this).serialize(),
    success: function(msg){
 

        console.log(msg);
        for(i = 0; i< msg.length;i++){
            //$("#list_id_playlist").append(msg[i]);
          var s = $("#list_id_playlist").val();
          if(s == ""){
            $("#list_id_playlist").val(s+msg[i]);
          }else
          $("#list_id_playlist").val(s+"\n"+msg[i]);
        }
        
     },
    error: function(){
      alert("ERROR !");
    }
  });
    event.preventDefault();
  });

  $( "#autoplaylist" ).submit(function( event ) {
    var params = $(this).serializeArray();
    $.ajax({
    type: "POST",
    url: "/web/ajax/crawlervideotitle/",
    data: $(this).serialize(),
    success: function(msg){
 

        console.log(msg);
        for(i = 0; i< msg.length;i++){
            //$("#list_id_playlist").append(msg[i]);
          var s = $("#list_title_playlist").val();
          if(s == ""){
            $("#list_title_playlist").val(s+msg[i]);
          }else
          $("#list_title_playlist").val(s+"\n"+msg[i]);
        }
        
     },
    error: function(){
      alert("ERROR !");
    }
  });
    event.preventDefault();
  });

  function copyToClipboard(string) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val(string).select();
      document.execCommand("copy");
      $temp.remove();
  }

</script>