
<div>
	<div style="float:left;"> <h3><b>Các channel hiện connect tới</b></h3></div>
	<div style="float:right;margin-right: 50px;"><a href="<?php echo $this->authGO ?>"><span style="padding: 8px 16px; color: #FFFFFF;border: 1px solid;background-color: #4CAF50;">Thêm Channel mới</span></a></div>
	
</div>
		 <table class="table">
			    <thead>
			      <tr>
			        <th>STT</th>
			        <th>Tên Kênh</th>
			        <th>Từ khóa</th>
			        <th>Channel Link</th>
			        <th>Chăm sóc</th>
			        <th>Trạng thái</th>
			        <th>Xem Log</th>
			      </tr>
			    </thead>
			    <tbody>
 <?php foreach ($this->listChannel as $key => $channel):?>
			      <tr>
			        <td><b><?php echo $key+1?>.</b></td>
			        <td><a  href="/playlist/getlist?google_id=<?php echo $channel->auth_google_id ?>"><?php echo $channel->channel_name?></a></td>
			        <td><?php echo $channel->keyword;?></td>
			        <td>
			        	
			        	<?php $clipboard = 'https://youtube.com/channel/'.$channel->channel_id.'/playlists';?>
			        	<button class="btn" onclick="copyToClipboard('<?php echo $clipboard; ?>')">Copy Link</button>
			        </td>
			        <td>
			        	
<?php if($channel->is_care == 1):?>

	<button type="button" class="btn btn-info btn-lg btncare<?php echo $key;?> is_care"  data-toggle="modal" data-target="#myModal<?php echo $key;?>" style="" >Đang chăm sóc</button>
	<!-- data 0-week 1-hour 2-date 3-month-->
<?php else:?>
	<button type="button" class="btn btn-info btn-lg not_care" data-toggle="modal" data-target="#myModal<?php echo $key;?>" style="">Không chăm sóc</button>
<?php endif;?>

<!-- Modal -->
<div id="myModal<?php echo $key;?>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    <form class="care_form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><?php echo $channel->channel_name?></h4>
        (Các kênh hiện tại được chăm sóc vào lúc 00:00 và 12:00)
      </div>
      <div class="modal-body">
      	<input type="hidden" name="google_id" value="<?php echo $channel->auth_google_id?>">
        <label for="sel1">Chăm sóc:</label>
        <div class="radio">
		  <label><input type="radio" name="care" value="1" <?php echo $channel->is_care == 1? 'checked':''?>>Active</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="care" value="0" <?php echo $channel->is_care == 0? 'checked':''?>>De-Active</label>
		</div>
        
		<label for="sel1">Từ khóa:</label>
         <input type="textbox" class="form-control" name="keyword" value="<?php echo $channel->keyword;?>" />

        <label for="sel1">Vị trí thêm Video:</label>
		<select class="form-control" name="position">
			<option value="0" <?php echo $channel->add_vids_position == 0? 'selected':''?>>Last</option>
			<option value="1" <?php echo $channel->add_vids_position == 1? 'selected':''?>>1</option>
			<option value="2" <?php echo $channel->add_vids_position == 2? 'selected':''?>>2</option>
			<option value="3" <?php echo $channel->add_vids_position == 3? 'selected':''?>>3</option>
			<option value="4" <?php echo $channel->add_vids_position == 4? 'selected':''?>>4</option>
			<option value="5" <?php echo $channel->add_vids_position == 5? 'selected':''?>>5</option>
			<option value="6" <?php echo $channel->add_vids_position == 6? 'selected':''?>>6</option>
			<option value="7" <?php echo $channel->add_vids_position == 7? 'selected':''?>>7</option>
			<option value="8" <?php echo $channel->add_vids_position == 8? 'selected':''?>>8</option>
			<option value="9" <?php echo $channel->add_vids_position == 9? 'selected':''?>>9</option>
			<option value="10" <?php echo $channel->add_vids_position == 10? 'selected':''?>>10</option>
		</select>

        <label for="sel1">Filter By Date:</label>
        <select class="form-control" name="date">
			<option value="0" <?php echo $channel->bydate == 0? 'selected':''?>>Week</option>
			<option value="1" <?php echo $channel->bydate == 1? 'selected':''?>>Hour</option>
			<option value="2" <?php echo $channel->bydate == 2? 'selected':''?>>Date</option>
			<option value="3" <?php echo $channel->bydate == 3? 'selected':''?>>Month</option>
		</select>
      </div>
      <div class="modal-footer">
      	<span id="message"></span>
      	<button type="Submit" class="btn" >Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div></form>
    </div>

  </div>
</div>
			        </td>
			        <td><?php echo ($channel->is_die == 0)?"Live":"<span style='background:red;padding:5px;'>Die</span>"?> </td>
			        <td> <button type="button" class="btn log" data-id="<?php echo $channel->auth_google_id?>" data-toggle="modal" data-target="#log" style="" >Xem</button></td>
			      </tr><?php endforeach;?>

			    </tbody>
			  </table>
<div id="log" class="modal fade" role="dialog">
	<div class="modal-dialog">

    <!-- Modal content-->
   		 <div class="modal-content">
   		 	 <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">LOG FILE</h4>
		       
		      </div>
		      <div class="modal-body" id="log_content"></div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
   		 </div>
	</div>
</div>

<style type="text/css">
	
	.box-show{
		display: none;

	}

	.is_care{
		padding: 2px;background: green;color:white;
	}
	.not_care{
		padding: 2px;background: red;color:white;

	}
</style>
<script type="text/javascript">
	
	$( ".care_form" ).submit(function( event ) {
	  var params = $(this).serializeArray();
	  $.ajax({
		type: "POST",
		url: "/web/ajax/updatecareplaylist/",
		data: $(this).serialize(),
		success: function(msg){
		    alert("Done !");
		    console.log(msg);
		    location.reload();
		 },
		error: function(){
			alert("ERROR !");
		}
	});
	  event.preventDefault();
	});


	$( ".log" ).click(function(){
		var google_id = $(this).data("id");
		$("#log_content").html("");
		$.ajax({
			type: "POST",
			url: "/web/ajax/getlog/",
			data: {google_id:google_id},
			success: function(msg){
			    console.log(msg);
			    $("#log_content").html(msg);
			 },
			error: function(){
				 $("#log_content").html("ERROR !");
			}
		});
	});
	function copyToClipboard(string) {
	    var $temp = $("<input>");
	    $("body").append($temp);
	    $temp.val(string).select();
	    document.execCommand("copy");
	    $temp.remove();
	}
</script>