 <div class="sppanel">
    <div class="menu_left" style="margin-top:-10px;height: 30px"></div>
        <div class="sp_name"><?php echo $this->product->product_name?></div>
    <div class="mau">
       <?php echo $this->product->location?>
    </div>
    <div class="menu_right" style="margin-top:-10px;height: 30px;background: url('http://www.phumyford.com.vn/Content/images/rightdiv1.png')"></div>
    <div class="clear"></div>
    <div class="menu_left" style="margin-top:5px;"></div>
    <div class="menu_title" style="margin-top:5px;width: 120px;color:#fff">
        <img src="/layouts/web/img/timdl.png">
        <span><a href="/Chiphidangkyxe" style="color:#fff;line-height:29px">Chi phí Đăng ký</a></span>
    </div>

    <div class="menu_right" style="margin-top:5px;"></div>
    <div class="menu_left" style="margin-top:5px; margin-left:10px;"></div>
    <div class="menu_title" style="margin-top:5px;width: 125px;color:#fff">
        <img src="/layouts/web/img/dktlx.png">
        <span><a title="Đăng ký lái xe thử" href="/dk/dang-ky-lai-thu-xe" style="color:#fff;line-height:29px">Đăng ký lái </a></span>
    </div><div class="menu_right" style="margin-top:5px;"></div>
    <div class="menu_left" style="margin-top:5px; margin-left:10px;"></div>
    <div class="menu_title" style="margin-top:5px;width: 120px;color:#fff">
        <img src="/layouts/web/img/dkcata.png">
        <span><a href="/dk/dang-ky-catalouge" style="color:#fff;line-height:29px">Đăng ký </a></span>
    </div>
    <div class="menu_right" style="margin-top:5px;"></div>
</div>