<?php if (isset($this->paginator)): ?>
    <div class="page">
        <?php if (isset($this->paginator->pageCount) && $this->paginator->pageCount > 1): ?>
        <a href="<?php printf($this->paginator->pageLink, $this->paginator->first)?>" class="button page <?php if ($this->paginator->current == $this->paginator->first) echo 'in'; ?>">&laquo;</a>
        <?php foreach ($this->paginator->pagesInRange as $page): ?>
        <a href="<?php printf($this->paginator->pageLink, $page)?>" class="button page <?php if ($this->paginator->current == $page) echo 'in'; ?>"><?php echo $page?></a>
        <?php endforeach; ?>
        <a href="<?php printf($this->paginator->pageLink, $this->paginator->last)?>" class="button page <?php if ($this->paginator->current == $this->paginator->last) echo 'in'; ?>">&raquo;</a>
        <?php endif; ?>
    </div>
<?php endif; ?>