<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Observer Pattern</title>
<link rel="stylesheet" type="text/css" href="/layouts/web/observer/observer.css">
<script type="text/javascript" src="/layouts/web/observer/jquery-1.12.1.min.js"></script>

</head>

<body>

<div id="table" style="margin:auto;float:left">
	<h1>Observer Pattern Javascript</h1>
</div>
<div style="float:left">
	<form action="#" method="post" id="form">
        <fieldset>
          <legend><b>Thêm mới chứng khoán</b></legend>
          <div id="notify" style="color:red"></div>
          <label for="name">Mã chứng khoán:</label>
          <input type="text" id="name" name="name" required >
          
          <label for="mail">Giá mua:</label>
          <input type="number" id="price" name="price" required>

        </fieldset>
        <button class="button" id="add" type="submit">Add new</button>
    </form>
          
</div>
<script type="text/javascript" src="/layouts/web/observer/observerbasic2.js"></script>
</body>

</html>